body {
    font-family: 'Tapestry', cursive;
}
*{
    color:rgb(8, 8, 105)
}
h1{
    text-align: center;
    margin-top: 100px;
  }
p{
    padding: 20px;
}

.miparrafo{
    
    font-style: italic;
    
}